
*{
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'poppins' ,sans-serif;
		margin: 0;
	padding: 0;
}
body{
	display: flex;
	background: #f7f7f7;
	min-height: 100vh;
}
.navbar {
	color: white;
	font-size: 20px;
}

.navbar{
	height: 5vh;
	border: 1px solid transparent;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #333;
}
.sidebar {
  height: 100%;
  width: 15vh;
  position: fixed;
  z-index: 1;
  top: 5%;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 16px;
}

.profile{
position: fixed;
top: 85%;
left: 1%;


}

.profile i{
  border: 1px solid  #818181;
	color:#818181;
	padding: 10px;
	border-radius: 50%;
	background:  #333;
}
.profile i:hover{
		background:  #fff;
}
.sidebar i{
	 font-size: 25px;
}
.sidebar a {
  padding-top:45%;
  text-decoration: none;
  font-size: 10px;
  color: #f1f1f1;
  display: block;
   font-weight: 500;
  padding-left: 10%;
}

.sidebar a:hover {
  color: #f7f7f7;
  background: #333;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


.wrapper{
  margin-left: 8%;
  margin-top: 1%;
	background-color: #fff;
	width: 1000px;
	border-radius: 16px;
	box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
	            0 32px 64px -48px rgba(0, 0, 0, 0.5)
}

.users{
	padding: 25px 30px;
 
}
.users header a{
position: absolute;
right: 0;
}
.users header {
    display: flex;
	align-items: center;
	padding-bottom: 20px;
	justify-content: space-between;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
}
.users-list a{
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	justify-content: space-between;
	border-bottom: 1px solid #e6e6e6;
}
.users-list a:hover{
	background: #f7f7f7;
}
/*wrapper img*/
.wrapper img{
	object-fit: cover;
	border-radius: 50%;

}
/*editing  both divisions(users,)*/
:is(.users, .users-list) .content
{
	display: flex;
	align-items: center;
}

.users header .content img{
	height: 50px;
	width: 50px;
}
:is(.users, .users-list) .details{
color: #200;
	margin-left: 20px;
		text-decoration: none;
}
:is(.users, .users-list) .details span{
	font-size: 18px;
	font-weight: 500;

}
.users header .logout{
	color: #fff;
	font-size: 17px;
	padding: 7px 15px;
	background: #333;
	border-radius: 5px;
	text-decoration: none;

}
.users .search{
	margin: 20px 0;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: space-between;

}
.users .search .text{
font-size: 18px;
}
.users .search input{
position: absolute;
height: 42px;
width: calc(100% - 75px);
border: 1px solid #ccc;
padding:0  13px;
font-size: 16px;
border-radius: 5px 0 0 5px;
outline: none;
opacity: 0;
pointer-events: none;
transition: all 0.2s ease;
}

.users .search input.active{
	opacity:1;
  pointer-events: auto;
}
.users .search button{
	width: 47px;
	height: 42px;
	border: none;
	outline: none;
	color: #333;
	background: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 17px;
	transition: all 0.2s ease;
}
.users .search button.active{
	color: #fff;
	background: #333; 
}
.users .search button.active i::before{
content: "\f00d";
}
.users-list{
max-height: 380px;
overflow-y: auto;
}
.users-list::-webkit-scrollbar{
width: 0px;

}

.users-list a{
background-color: #fff;
	padding-right: 15px;
	page-break-after: 10px;
	margin-bottom: 15px;
	border-bottom-color:#f1f1f1 ;
}
.users-list a .content img{
width: 44px;
height: 44px;
}
.users-list a .content p{
color: #67676a;

}
.users-list a .status-dot{
font-size: 12px;
color: #468669;
}
/*we'll use this class name in php to show offline status*/
.users-list a .status-dot.offline{
color: #ccc;
}
.users-list a:last-child{
border: none;
margin-bottom: 0px;
}